body {
    background-color: crimson;
    color: black;
    padding: auto;
    font-family: Arial, sans-serif;
}
h1 {
    color: black;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}
